* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#e242ff 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 500px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
  text-align: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.form__group {
  position: relative;
  --color: #5757577e;
}

.form__input {
  width: 100%;
  background: none;
  color: #706e6e;
  font-size: 1em;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: Roboto, sans-serif;
}

.form__input:focus + .form__lbl,
.form__input:not(:placeholder-shown) + .form__lbl {
  transform: translateY(-12px) scale(0.7);
  transform-origin: top left;
  color: #3866f2;
}

.form__lbl {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__lbl--dom {
  top: -25px;
  right: 10px;
  cursor: unset;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}

.form__input::placeholder {
  color: var(--color);
}
.form__btn {
  width: 40%;
  background: #3866f2;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  transition: background 0.2s;
}

.form__btn:hover {
  cursor: pointer;
  background: #2e53c2;
}

@media (max-width: 425px) {
  .form__title {
    font-size: 1.8rem;
  }
}
